<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <title>Scholance</title>
</head>
<body>
    <section class="bg-main2">
        <header>
            <nav>
                <ul class="nav_links mb-0">
                    <li><a href="/"><img src="../../static/images/logo.PNG" height="70px" alt="logo"></a></li>
                </ul>
                <ul class="nav_links mb-0">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/projects">Projects</a></li>
                </ul>
                <ul class="nav_links mb-0">
                      <div class="dropdown">
                        <button class="dropdown-toggle" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                          {{ session["username"]}}
                        </button>
                        <ul class="dropdown-menu fade" aria-labelledby="profileDropdown">
                          <li><a class="dropdown-item" href="/profile/user">Profile</a></li>
                          <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                      </div>
                </ul>
            </nav> 
        </header>

    <div class="container rounded profile-main-bg p-5">
        <div class="row">
            <ul class="col-2 mt-4" >
                <li><a href="user">User Profile</a></li>
                <li><a href="business">Business Profile</a></li>
                <li><a href="password">Password</a></li>
            </ul>
            <div class="col-10 mt-4" >
                <h3 class="text-center">Password:</h3>
                <form>   
                    <div class="form-outline mb-4">
                      <label class="form-label" for="password">Current Password</label>
                      <input type="password" id="password" class="form-control" />
                    </div>

                    <div class="form-outline mb-2">
                      <label class="form-label" for="new_password">New Password</label>
                      <input type="new_password" id="new_password" class="form-control" />
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="repeat_new_password">Repeat New Password</label>
                        <input type="repeat_new_password" id="repeat_new_password" class="form-control" />
                      </div>

                    <div class="text-center pt-1 pb-1">
                      <button class="fa-lg mb-3" type="update">Update</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container-sm text-center pt-5">
        <!-- Logo and homepage link -->
        <div class="row mt-3">
            <a href="/"><img src="../../static/images/logo.PNG" height="70px" alt="logo"></a>
        </div>

        <!-- Links to about, projects, and organizations/post section -->
        <div class="row mt-3">
            <h5>Quick Links</h5>
            <ul class="list-unstyled">
                <li><a href="about.html" class="text-white">About</a></li>
                <li><a href="projects.html" class="text-white">Projects</a></li>
                <li><a href="organizations.html" class="text-white">organizations/Post</a></li>
            </ul>
        </div>

        <!-- Terms and conditions section -->
        <div class="row mt-3">
            <h5>Terms &amp; Conditions</h5>
            <ul class="list-unstyled">
                <li><a href="terms.html" class="text-white">Terms of Service</a></li>
                <li><a href="privacy.html" class="text-white">Privacy Policy</a></li>
            </ul>
        </div>

        <!-- Copyright section -->
        <hr>
        <div class="row mt-3">
            <p class="text-lg-right">&copy; 2023 Scholance. All rights reserved.</p>
        </div>

    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
    <script defer src="main.js"></script>
</body>
</html>