<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/static/css/tags.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <title>Scholance</title>
</head>
<body>
    {% block content %} {% with messages =
        get_flashed_messages(with_categories=true) %} {% for category, message in
        messages %}
        <div class="{{ category }}">{{ message }}</div>
        {% endfor %} {% endwith %}
        
        <header>
            <nav>
                <ul class="nav_links mb-0">
                    <li><a href="/"><img src="../../static/images/logo.PNG" height="70px" alt="logo"></a></li>
                </ul>
                <ul class="nav_links mb-0">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/projects">Projects</a></li>
                </ul>
                <ul class="nav_links mb-0">
                      <div class="dropdown">
                        <button class="dropdown-toggle" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                          {{ session["username"]}}
                        </button>
                        <ul class="dropdown-menu fade" aria-labelledby="profileDropdown">
                          <li><a class="dropdown-item" href="/profile/user">Profile</a></li>
                          <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                      </div>
                </ul>
            </nav> 
        </header>

    <div class="container profile-main-bg">
        <div class="row text-center">
            <div class="" >
                <h3 class="m-4">Post Project</h3>
                <form method = "POST" onkeydown="return event.key != 'Enter';">

                    <div class="form-outline mb-4">
                        <label class="form-label" for="project_name">Project Name</label>
                        <input placeholder="Name of project." name="project_name" id="project_name" class="form-control" />
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="description">General Description</label>
                        <textarea placeholder="Describe the project." name="description" type="description" id="description" class="form-control"></textarea>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="goals">Goals and Objectives</label>
                        <textarea placeholder="Describe the goals and objectives of the project" name="goals"  id="goals" class="form-control"></textarea>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="time_commitment">Time Commitment</label>
                        <textarea placeholder="Describe the time commitment of the project" name="time_commitment"  id="time_commitment" class="form-control"></textarea>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="expectations">Expectations</label>
                        <textarea placeholder="Describe the expectations of the project" name="expectations"  id="expectations" class="form-control"></textarea>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="tags">Tags</label>
                        <div class="tags" id="search-input">
                            <input type="text" name="tags" class="form-control" id="tag-input" placeholder="Add tags; press enter for each.">
                            <div id="autocom-box"></div>
                        </div>

                        <div class="tags-container" id="tags-container"></div>
                    </div>
                    
                    <div class="text-center pt-1 pb-1">
                      <button id="project_button" class="fa-lg mb-3" type="update" formmethod="post">Post Project</button>
                    </div>
                    
                </form>
                <section id="items"></section>
  
                <script defer src="../static/javascript/tags.js"></script> 
                <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>  
                 
            </div>
        </div>
    </div>
    {% endblock %}

    <footer>
        <div class="container-sm text-center pt-5">
            <!-- Logo and homepage link -->
            <div class="row mt-3">
                <a href="/"><img src="../../static/images/logo.PNG" height="70px" alt="logo"></a>
            </div>

            <!-- Links to about, projects, and organizations/post section -->
            <div class="row mt-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="about.html" class="text-white">About</a></li>
                    <li><a href="projects.html" class="text-white">Projects</a></li>
                    <li><a href="organizations.html" class="text-white">organizations/Post</a></li>
                </ul>
            </div>

            <!-- Terms and conditions section -->
            <div class="row mt-3">
                <h5>Terms &amp; Conditions</h5>
                <ul class="list-unstyled">
                    <li><a href="terms.html" class="text-white">Terms of Service</a></li>
                    <li><a href="privacy.html" class="text-white">Privacy Policy</a></li>
                </ul>
            </div>

            <!-- Copyright section -->
            <hr>
            <div class="row mt-3">
                <p class="text-lg-right">&copy; 2023 Scholance. All rights reserved.</p>
            </div>

        </div>
    </footer>
</body>
</html>