@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;300;500&family=Tilt+Warp&display=swap');

:root {
    --color-primary: rgb(234, 170, 66);
    --color-primary-light: white;
    --color-secondary: rgba(202, 123, 123, 1);
    --color-secondary-light: rgba(202, 123, 123, 0.4);
    --color-text: #212529;
    --color-shadow: rgba(0, 0, 0, 0.15); /* border */
    --color-light-background: rgb(245, 245, 245);
  }

* {
    font-family: "Inter Tight", cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    caret-color: transparent;
}

h1 {
    font-size: 5em !important;
    font-family: 'Tilt Warp' !important;
}

h2 {
    font-size: 3em !important;
}

h3 {
    font-size: 2em !important;
}

h4 {
    font-size: 2em !important;
    font-weight: 200 !important;
}

.subscriptions {
    padding: 0 !important;
    list-style-type: none;
}

.bg-color {
    background-color: var(--color-light-background);
}

.highlight-color {
    background-color: var(--color-primary) !important;
}

.subheader-join-button {
    background-color: var(--color-text);
    color:white;
}

/* Set background color of dropdown section to white */
#faqAccordion .card-body {
    background-color: white;
}

#faqAccordion button {
    width: 100%
}


.tbd {
    opacity: 80%;
}

::placeholder {
    font-weight: 500;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track { 
    border-radius: 5px;
    background-color: var(--color-light-background);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--color-primary);
}

.standard-bg {
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--color-light-background);
}

.bg-main {
    background-image: url("../images/background.svg");
}

.bg-main-2 {
    /*background-image: url("../images/background-2.svg");*/
    background-color:var(--color-primary);

}

.profile-main-bg {
    background-color: var(--color-primary-light);
}

.info {
    padding: 50px;
    background-color: var(--color-primary-light);;
    color: var(--color-primary);
    font-size: 3ch;
    text-align: center;
}

.error {
    padding: 50px;
    background-color: var(--color-secondary-light);
    color: var(--color-secondary);
    font-size: 3ch;
    text-align: center;
}

main {
    min-height: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}

a {
    color: var(--primary-color) !important;
}

.scaleout {
    zoom: 0.9;
    -moz-transform: scale(0.9);
}

.center-content {
    justify-content: center;
}

.front-text-padding {
    padding-top: 15vh;
}

.wrapper {
    max-width: 1000px;
    margin: 0px auto;
}

.spacer {
    width: 100%;
    height: 95px;
}

.search-input {
    position: relative;
}

.wrapper .search-input {
    position: relative;
    width: 100%;
    border-radius: 5px;
}

.search-input .input {
    height: 60px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 24px;
}

.search-input input {
    height:60px;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 60px 0 20px;
    font-size: 24px;
    font-weight: 100px;
    box-shadow:inset 0px 0px 0px 3px white; /* inner border for tha thing */
}

.search-input button {
    padding: 0px 0px;
}

.search-input .icon {
    height: 60px;
    width: 60px;
    line-height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    background-color: var(--color-primary);
}

.search-input .autocom-box {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0 10px 0 10px;
    max-height: 300px;
    overflow-y: auto;
    pointer-events: none;
    z-index: 1;
  }

  .search-input.active .autocom-box {
    display: block;
    pointer-events: auto;
  }

  .autocom-box {
    background-color: white;
    width: 100%;
    border-radius: 3px;
  }

.autocom-box li {
    list-style: none;
    padding: 10px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    display: none;
    font-size: 20px;
    background-color: white;
}

.search-input.active .autocom-box li {
    display: block;
}

.autocom-box li:hover {
    background-color: rgba(0,0,0,0.05);
}

button {
    padding: 15px 35px;
    background-color: #212529;
    border: none;
    color: white;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #333333;
}

.gradient-custom-2 {
/* fallback for old browsers */
background: #fccb90;

/* Chrome 10-25, Safari 5.1-6 
background: -webkit-linear-gradient(to right, #fccb90, #ff9022);

 W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(202, 172, 123, 0.5), rgba(202, 172, 123, 1));
}

.job-post {
    margin: 0;
}

img {
    caret-color: var(--color-text);
}

 p {
    display: block;
 }

 .text-preview {
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));   
 }

.gp {
    background-color: var(--color-primary-light);
    border-radius: 5px;
    box-shadow: 0px 1px 3px 1px var(--color-shadow);
    padding: 5%;
    margin: 5%;
    grid-column: 1/2;
}

.gp-project:hover {
    box-shadow: 0px 1px 3px 3px var(--color-shadow);
}

.main-container {    
    height: auto;
    display: flex;
    padding: 0 10% 0 10%;
    background-color: var(--color-light-background);
}

.small-container {
    height: 87.5vh;
    overflow-y: scroll;
    box-sizing: border-box;
  }
  
  .small-container-1 {
    width: 33.33%;
  }
  
  .small-container-2 {
    width: 66.67%;
  }


.project-title {
    margin-top: 10%;
    margin-bottom: 0px;
}

.page-spacer {
    aspect-ratio: 900/30;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 20px solid white;
    border-radius: 100px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: linear-gradient(45deg, var(--primary-color), white, var(--primary-color));
    animation: color 12s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 100%;
    }
}

.spacer { /**/
    aspect-ratio: 900/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

.footer-layer {
    background-image: url("/static/images/footer-waves.svg")
}

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}
