.tag-input-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    display: flex;
    align-items: center;
  }
  
  #tag-input {
    flex: 1;
    border: none;
    outline: none;
  }
  
  .tags-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
  }
  
  .tag {
    background-color: #ffff;
    color: #4F4537;
    border: 2px solid rgba(202, 172, 123, 1) ;
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 4px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
  }
  
  .tag .tag-label {
    flex: 1;
  }
  
  .tag .tag-remove {
    cursor: pointer;
    margin-left: 8px;
  }
  
  #autocom-box {
    display: block;
    pointer-events: auto;
  }

  #autocom-box {
    background-color: white;
    width: 100%;
    border-radius: 3px;
  }

#autocom-box li {
    list-style: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    font-size: 14px;
    background-color: white;
}

#autocom-box li:hover {
    background-color: rgba(0,0,0,0.05);
}