<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/sponsors.css">
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Scholance</title>
</head>

<body>
        <header class="index-header">
            <nav>
                <ul class="nav_links mb-0">
                    <li><a href="/"><img src="../../static/images/logo.PNG" height="70px" alt="logo"></a></li>
                </ul>
                <ul class="nav_links mb-0">
                    <li><a href="/about">About</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/organizations">Posting for Organizations</a></li>
                </ul>
                <ul class="nav_links mb-0">
                    <li><a class="cta" href="/login">Login</a></li>
                    <li><a class="cta" href="/signup"><button>Get started</button></a></li>
                </ul>
            </nav>
        </header>

        <div class="spacer"></div>

        <div class="front-text-padding standard-bg">
            <h1 class="text-center pb-5">About</h1>
        </div>

        <div class="container p-5">
            <h2 class="text-center">What is Scholance?</h2>
            <p>Since its establishment in 2021, Scholance has been committed to creating opportunities 
                for students worldwide to actively participate in their communities. 
                During the COVID-19 pandemic, Vihaan and Pranav, the founders of Scholance, 
                recognized the difficulties students faced in fulfilling their community 
                service requirements. Their search for virtual options to meet the mandatory 
                minimum hours for graduation yielded no targeted online platforms for community 
                service, leading them to believe that community service should be easily accessible
                to students, even in the virtual world. As a result, Scholance was established to 
                bridge this gap and provide students with an online platform that makes it easy and 
                accessible to engage in community service. The founders' dedication and hard work paid
                 off as Scholance received numerous accolades, including the Congressional App Challenge
                  2022, a testament to the platform's impact on the lives of students and its ability to 
                  provide a platform for them to make a difference in the world.</p>
        </div>

        <div class="container-fluid standard-bg p-5">
            <div class="container">
                <h2 class="text-center pb-5">Meet the Founders</h2>
                <div class="row">
                  <div class="col-md-4 mx-auto">
                    <div class="card mb-3">
                      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" class="card-img-top" alt="Member 1">
                      <div class="card-body">
                        <h5 class="card-title">Vihaan Dutta</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet massa vitae massa tincidunt blandit. Vestibulum eu elit ultrices, placerat elit ut, commodo lacus. Phasellus sed ante ut enim aliquet fermentum.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mx-auto">
                    <div class="card mb-3">
                      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" class="card-img-top" alt="Member 2">
                      <div class="card-body">
                        <h5 class="card-title">Pranav Chinthakuntla</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet massa vitae massa tincidunt blandit. Vestibulum eu elit ultrices, placerat elit ut, commodo lacus. Phasellus sed ante ut enim aliquet fermentum.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>

        <div class="container-fluid highlight-color">
            <div class="container text-center pt-5 pb-5">
                <h3>Still have questions?</h2>
                <p>Leave it to one of our Scholance representatives!</p>
                <form id="contactForm" method="post" action="#">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
                    </div>
                    <a class="cta" href="/signup"><button class="mt-5" type="submit" >Send Message</button></a>
                </form>
            </div>
        </div>

    <footer>
        <div class="container-sm text-center pt-5">
            <!-- Logo and homepage link -->
            <div class="row mt-3">
                <a href="/"><img src="../../static/images/logo.PNG" height="70px" alt="logo"></a>
            </div>

            <!-- Links to about, projects, and organizations/post section -->
            <div class="row mt-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="about.html" class="text-white">About</a></li>
                    <li><a href="projects.html" class="text-white">Projects</a></li>
                    <li><a href="organizations.html" class="text-white">organizations/Post</a></li>
                </ul>
            </div>

            <!-- Terms and conditions section -->
            <div class="row mt-3">
                <h5>Terms &amp; Conditions</h5>
                <ul class="list-unstyled">
                    <li><a href="terms.html" class="text-white">Terms of Service</a></li>
                    <li><a href="privacy.html" class="text-white">Privacy Policy</a></li>
                </ul>
            </div>

            <!-- Copyright section -->
            <hr>
            <div class="row mt-3">
                <p class="text-lg-right">&copy; 2023 Scholance LLC. All rights reserved.</p>
            </div>

        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </div>
    <script defer src="../static/javascript/suggestions.js"></script>
</body>

</html>