<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/sponsors.css">
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Scholance</title>
</head>

<body>
    <section class="standard-bg">
        <header class="index-header">
            <nav>
                <ul class="nav_links mb-0">
                    <li><a href="/"><img src="../../static/images/logo.PNG" height="70px" alt="logo"></a></li>
                </ul>
                <ul class="nav_links mb-0">
                    <li><a href="/about">About</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/recruit">Recruite / Post</a></li>
                </ul>
                <ul class="nav_links mb-0">
                    <li><a class="cta" href="/login">Login</a></li>
                    <li><a class="cta" href="/signup"><button>Get started</button></a></li>
                </ul>
            </nav>
        </header>

        <div class="spacer"></div>

        <div class="wrapper front-text-padding pb-5">
            <h1>Real Computer Science Opportunities for All Skill-Groups.</h1>
            <!-- Experience for the unexperienced. Help your community virtually. Earn community service hours online.-->
            <h3><span class="subheader-join-button"><a src="swag.com">Join</a></span> the world's easiest experience-building platform for CS students.</h3>
            <!-- helping problem solvers get real-world experience. -->
            <br>
            <form class="pb-5" method="post">
                <div class="search-input pb-5" id="search-input">
                    <input type="text" name="search" placeholder="Find an opportunity">
                    <!-- Find a local, online opportunity-->
                    <button type="submit" value="submit" class="icon"><i class="bi bi-search"></i></button>
                    <div class="autocom-box" id="autocom-box"></div>
                </div>
            </form>
        </div>
    </section>

    <div class="sponsors-container">
        <img class="sponsor-image" src="/static/images/sponsors/richmond_debate_institute.jpg"
            alt="Richmond Debate Institute">
        <img class="sponsor-image" src="/static/images/sponsors/congressional_app_challenge_logo.png"
            alt="Congressional App Challenge">
    </div>

    <section class="bg-color">
        <div class="container p-5">
            <div class="col-sm-12 text-center">
                <h2 class="pb-5">Whether you want to spice up applications or get resume-worthy experience, Scholance has got
                    you covered.</h2>
                <h5>Scholance is a platform that lets CS students of all experience levels solve real-world problems.
                    With a focus on skill development, Scholance empowers you to take your communication, leadership,
                    and computer science skills to infinity. <br><br> Plus, it's totally free to sign up! Showcasing
                    your stellar performance from Scholance could even help boost your college essays, project
                    portfolios, and resumes- how cool is that?</h5>
            </div>
        </div>

        <div class="container">
            <div class="col-sm-12 text-center  pb-5">
                <h3>Open Environment</h3>
                <h5>We believe developers of all skill groups deserve an opportunity to grow. Here at Scholance, you'll be given that opportunity.</h5>
            </div>

            <div class="col-sm-12 text-center  pb-5">
                <h3>Flexible Project Lengths</h3>
                <h5>Here at Scholance, you can explore different sectors of computer science through short or long term projects</h5>
            </div>

            <div class="col-sm-12 text-center  pb-5">
                <h3>Automatic Organization</h3>
                <h5>It's hard to keep track of achievements. Here at Scholance, you'll receive an organized document of your work after every project.</h5>
            </div>

            <div class="col-sm-12 text-center pb-5">
                <h3>Get Rewarded</h3>
                <h5>Competitive? Race to the top of the monthly Scholance Leaderboard by competing as many tasks as you can!</h5>
            </div>

            <div class="col-sm-12 text-center  pb-5">
                <h3>Built by CS students, for CS students</h3>
                <h5>If you have any suggestions, let us know! Who knows, we may add you to the team 😉</h5>
            </div>

            <div class="col-sm-12 text-center  pb-5">
                <h3 class="pb-1">Don't pass up these free benefits. Join now.</h3>
                <li class="list-unstyled"><a class="cta" href="/signup"><button>Get started</button></a></li>
            </div>
        </div>
    </section>

    <section class="highlight-color">
    <div class="container pt-5">
        <h3 class="mb-4 text-center">Frequently Asked Questions</h3>
        <div class="accordion pb-5" id="faqAccordion">

            <div class="pb-3">
                <div id="faqHeading1" class="text-center">
                    <h5 class="mb-0">
                        <button data-toggle="collapse" data-target="#faqCollapse1"
                            aria-expanded="false" aria-controls="faqCollapse1">
                            <i width="50" height="50" class="bi bi-list">What is Scholance?</i>
                        </button>
                    </h5>
                </div>
                <div id="faqCollapse1" class="collapse" aria-labelledby="faqHeading1" data-parent="#faqAccordion">
                    <div class="card-body text-center">
                        Scholance is a platform designed for computer science students of all skill levels to solve real-world problems, develop their skills, and gain experience in the field.
                    </div>
                </div>
            </div>
            <div class="pb-3">
                <div id="faqHeading2" class="text-center">
                    <h5 class="mb-0">
                        <button data-toggle="collapse" data-target="#faqCollapse2"
                            aria-expanded="false" aria-controls="faqCollapse2">
                            <i width="50" height="50" class="bi bi-list">What does it cost to join Scholance?</i>
                        </button>
                    </h5>
                </div>
                <div id="faqCollapse2" class="collapse" aria-labelledby="faqHeading2" data-parent="#faqAccordion">
                    <div class="card-body text-center">
                        It's free! If you want to post a project, there are plans for additional features at industry-low prices.
                    </div>
                </div>
            </div>
            <div class="pb-3">
                <div id="faqHeading3" class="text-center">
                    <h5 class="mb-0">
                        <button data-toggle="collapse" data-target="#faqCollapse3"
                            aria-expanded="false" aria-controls="faqCollapse3">
                            <i width="50" height="50" class="bi bi-list">How many projects can I do at once?</i>
                        </button>
                    </h5>
                </div>
                <div id="faqCollapse3" class="collapse" aria-labelledby="faqHeading3" data-parent="#faqAccordion">
                    <div class="card-body text-center">
                        There is no limit to how many projects you can work on at simultaneously. However, we recommend completing one at a time.
                    </div>
                </div>
            </div>
            <div class="pb-3">
                <div id="faqHeading4" class="text-center">
                    <h5 class="mb-0">
                        <button data-toggle="collapse" data-target="#faqCollapse4"
                            aria-expanded="false" aria-controls="faqCollapse4">
                            <i width="50" height="50" class="bi bi-list">How can Scholance help boost my college essays, project portfolios, and resumes?</i>
                        </button>
                    </h5>
                </div>
                <div id="faqCollapse4" class="collapse" aria-labelledby="faqHeading4" data-parent="#faqAccordion">
                    <div class="card-body text-center">
                        Showcasing your performance and experience from Scholance projects can demonstrate your skills and experience in real-world problem-solving, which can enhance your college essays, project portfolios, resumes, and more!
                    </div>
                </div>
            </div>
            <div class="pb-3">
                <div id="faqHeading5" class="text-center">
                    <h5 class="mb-0">
                        <button data-toggle="collapse" data-target="#faqCollapse5"
                            aria-expanded="false" aria-controls="faqCollapse5">
                            <i width="50" height="50" class="bi bi-list">Is Scholance only for advanced computer science students?</i>
                        </button>
                    </h5>
                </div>
                <div id="faqCollapse5" class="collapse" aria-labelledby="faqHeading5" data-parent="#faqAccordion">
                    <div class="card-body text-center">
                        Nope! In fact, Scholance is designed for computer science students of all skill levels, from beginners to advanced.
                    </div>
                </div>
            </div>
            <div class="pb-3">
                <div id="faqHeading6" class="text-center">
                    <h5 class="mb-0">
                        <button data-toggle="collapse" data-target="#faqCollapse6"
                            aria-expanded="false" aria-controls="faqCollapse6">
                            <i width="50" height="50" class="bi bi-list">Where can I learn more about posting projects on Scholance?</i>
                        </button>
                    </h5>
                </div>
                <div id="faqCollapse6" class="collapse" aria-labelledby="faqHeading6" data-parent="#faqAccordion">
                    <div class="card-body text-center">
                        Glad you asked! Learn more about posting here.
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
<div class="container text-center pt-5 pb-5">
    <h3>Still have questions?</h2>
    <p>Leave it to one of our Scholance representatives!</p>
    <form id="contactForm" method="post" action="#">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
        </div>
        <a class="cta" href="/signup"><button class="mt-5" type="submit" >Send Message</button></a>
    </form>
</div>
</section>

    <footer>
        <div class="container-sm text-center pt-5">
            <!-- Logo and homepage link -->
            <div class="row mt-3">
                <a href="/"><img src="../../static/images/logo.PNG" height="70px" alt="logo"></a>
            </div>

            <!-- Links to about, projects, and recruit/post section -->
            <div class="row mt-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="about.html" class="text-white">About</a></li>
                    <li><a href="projects.html" class="text-white">Projects</a></li>
                    <li><a href="recruit.html" class="text-white">Recruit/Post</a></li>
                </ul>
            </div>

            <!-- Terms and conditions section -->
            <div class="row mt-3">
                <h5>Terms &amp; Conditions</h5>
                <ul class="list-unstyled">
                    <li><a href="terms.html" class="text-white">Terms of Service</a></li>
                    <li><a href="privacy.html" class="text-white">Privacy Policy</a></li>
                </ul>
            </div>

            <!-- Copyright section -->
            <hr>
            <div class="row mt-3">
                <p class="text-lg-right">&copy; 2023 Scholance LLC. All rights reserved.</p>
            </div>

        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </div>
    <script defer src="../static/javascript/suggestions.js"></script>
</body>

</html>