<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <title>Scholance</title>
</head>
<body>
    <section class="standard-bg bg-main">
    <header class="index-header">
      <nav>
          <ul class="nav_links mb-0">
              <li><a href="/"><img src="../../static/images/logo.PNG" height="70px" alt="logo"></a></li>
          </ul>
          <ul class="nav_links mb-0">
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/organizations">Posting for Organizations</a></li>
          </ul>
          <ul class="nav_links mb-0">
                <div class="dropdown">
                  <button class="dropdown-toggle" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ session["username"]}}
                  </button>
                  <ul class="dropdown-menu fade" aria-labelledby="profileDropdown">
                    <li><a class="dropdown-item" href="/profile/user">Profile</a></li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                  </ul>
                </div>
          </ul>
      </nav> 
  </header>
  <div class="spacer"></div>
    <section class="container rounded p-5">
        <div class="row">
            <div class="col-3">
                <div class="col"><h1>Projects</h1></div>
                <hr>
                <div class="col"><h5>Owned Projects</h5></div>
                <br>
                {% if owned_projects|length != 0 %}
                  {% for project in owned_projects %}
                  <div class="col">{{ project }}</div>
                  <br>
                  {% endfor %}
                  {% else %}
                  <div class="col">No Accepted Project Jobs</div>
                  {% endif %}

                <div class="col"><h5>Joined Projects</h5></div>
                {% if joined_projects|length != 0 %} 
                  {% for project in joined_projects %}
                  <br>
                  <div class="col">{{ project }}</div>
                  <br>
                  {% endfor %}
                  {% endif %}
                  <br>
                  <!-- <div class="col">{{statement}}</div> -->
            </div>
            <div class="col-7">
                
            </div>
          </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</section>
</body>
</html>