<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/footer.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <title>Scholance</title>
</head>

<body>
    <section class="standard-bg bg-main">
        <header class="index-header">
            <nav>
                <ul class="nav_links mb-0">
                    <li><a href="/"><img src="../../static/images/logo.PNG" height="70px" alt="logo"></a></li>
                </ul>
                <ul class="nav_links mb-0">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/projects">Projects</a></li>
                </ul>
                <ul class="nav_links mb-0">
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" id="profileDropdown" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{ session["username"]}}
                        </button>
                        <ul class="dropdown-menu fade" aria-labelledby="profileDropdown">
                            <li><a class="dropdown-item" href="/profile/user">Profile</a></li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </ul>
            </nav>
        </header>
        <div class="spacer"></div>
        <section class="container rounded p-5">
            <div class="row">
                <h1>Dashboard</h1>
                <div class="col-3">
                    <hr>
                    <div class="col m-2">
                        <button id="owned-projects" class="ajax">Owned Projects</button>
                    </div>

                    <div class="col m-2">
                        <button id="joined-projects" class="ajax">Joined Projects</button>
                    </div>

                    <div class="col m-2">
                        <button id="applied-projects" class="ajax">Your Applications</button>
                    </div>
                    
                    <br>
                    <!-- <div class="col">{{statement}}</div> -->
                </div>
                <div id="projects-container" class="col-7 gp">
                    <button class="full-size-button" type="button" data-toggle="collapse" data-target="#more-info" aria-expanded="false"
                        aria-controls="more-info">
                        More Info
                    </button>
                    <div class="collapse" id="more-info">
                        <h5>Project Name</h5>
                        <p></p>
                    </div>
                </div>

            </div>
        </section>

        <footer>
            <div class="container-sm text-center pt-5">
                <!-- Logo and homepage link -->
                <div class="row mt-3">
                    <a href="/"><img src="../../static/images/logo.PNG" height="70px" alt="logo"></a>
                </div>

                <!-- Links to about, projects, and organizations/post section -->
                <div class="row mt-3">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="about.html" class="text-white">About</a></li>
                        <li><a href="projects.html" class="text-white">Projects</a></li>
                        <li><a href="organizations.html" class="text-white">organizations/Post</a></li>
                    </ul>
                </div>

                <!-- Terms and conditions section -->
                <div class="row mt-3">
                    <h5>Terms &amp; Conditions</h5>
                    <ul class="list-unstyled">
                        <li><a href="terms.html" class="text-white">Terms of Service</a></li>
                        <li><a href="privacy.html" class="text-white">Privacy Policy</a></li>
                    </ul>
                </div>

                <!-- Copyright section -->
                <hr>
                <div class="row mt-3">
                    <p class="text-lg-right">&copy; 2023 Scholance. All rights reserved.</p>
                </div>

            </div>
        </footer>
        <script defer src="../static/javascript/dashboard.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
    </section>
</body>

</html>